<table class="table">
    <thead>
        <tr>
            <td>Imagen</td>
            <td>Tipo</td>
            <td>Nombre</td>
            <td>Precio</td>
            <td>Stock</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><img [src]="burger.img" [alt]="burger.name"></td>
            <td>{{burger.type}}</td>
            <td>{{burger.name}}</td>
            <td>{{burger.price}}</td>
            <td>{{burger.stock}}</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>
