<table class="table">
    <thead>
        <tr>
            <td>Imagen</td>
            <td>Tipo</td>
            <td>Nombre</td>
            <td>Precio</td>
            <td>Stock</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let burger of burgers" [ngClass]="{'clearance': burger.clearance}">
            <td><img [src]="burger.img" [alt]="burger.name"></td>
            <td>{{burger.type}}</td>
            <td>{{burger.name}}</td>
            <td>{{burger.price | currency}}</td>
            <td><span *ngIf="burger.stock===0" class="badge rounded-pill text-bg-danger">Sin Stock</span></td>
        </tr>
    </tbody>
</table>



